<div class="row">

  <div class="col-md-4">
    <%= image_tag @film.film_img.url(:film_show), class: "film-show"%>
  </div>

  <div class="col-md-8">

    <h1><%= @film.name %></h1>
    <h3><%= @film.year %></h3>
    <h2><%= @film.director %></h2>
    <p><%= @film.desc %><p>
    <h3><%= @film.cast %></h3>

  </div>

</div>

<div class="row">

  <div class="col-md-4">

  </div>

</div>


<% if user_signed_in? %>

  <% if @film.user_id == current_user.id || current_user.admin? %>
      <ul>
        <li><%= link_to "Edit Film", edit_film_path(@film) %></li>
        <li><%= link_to "Delete Film", film_path(@film), method: :delete, data: { confirm: "Are you sure you want to delete"} %></li>
      </ul>

  <% end %>

  <% if current_user.editor %>
    <ul>
      <li><%= link_to "Edit Film", edit_film_path(@film) %></li>
    </ul>

  <% end %>


<% end %>
