<div class="row">

  <div class="col-md-4">
    <%= image_tag @film.film_img.url(:film_show), class: "film-show"%>
  </div>

  <div class="col-md-8">

    <div class="film-info">

      <h2 class="film-title"><%= @film.name %></h2>
      <span><%= @film.year %></span>
      <h2 class="avg-rating">Average rating</h2>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews">Based on <%= @film.reviews.count %> reviews</span>
      <h3 class="film-author">Director : <%= @film.director %></h3>
      <h4 class='film-author'>Cast : <%= @film.cast %></h4>

      <p class="film-desc"> <%= @film.desc %><p>

      <% @user = User.find(@film.user_id) %>
      <span>Added by <%= @user.username %></span>

      <h4>
        <%= link_to "Add review", new_film_review_path(@film), class: "btn btn-custom"  %>
        <% if user_signed_in? %>
                  <% if @film.user_id == current_user.id || current_user.admin? %>
                      <%= link_to "Edit Film", edit_film_path(@film), class: "btn btn-custom" %>
                      <%= link_to "Delete Film", film_path(@film), method: :delete, data: { confirm: "Are you sure you want to delete"}, class: "btn btn-custom"  %>
                  <% end %>

                  <% if current_user.editor %>
                      <%= link_to "Edit Film", edit_film_path(@film), class: "btn btn-custom"  %>
                  <% end %>
          <% end %>

      </h4>


    </div>

  </div>

</div>


<div class="row">
  <div class="col-md-4">
    <div class="reviews">

      <h1>Reviews</h1>
      <%= render @film.reviews.order("created_at DESC") %>


    </div>
  </div>
</div>


<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
          },
          path: '/assets'
  });
</script>

<script>
    $('.average-review-rating').raty({
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
          },
          path: '/assets'
  });
</script>
