<h1><%= @film.name %></h1>
<h3><%= @film.year %></h3>
<h2><%= @film.director %></h2>
<p><%= @film.desc %><p>
<h3><%= @film.cast %></h3>

<% if user_signed_in? %>

  <% if @film.user_id == current_user.id || current_user.admin? %>

    <%= link_to "Edit Film", edit_film_path(@film) %>
    <%= link_to "Delete Film", film_path(@film), method: :delete, data: { confirm: "Are you sure you want to delete"} %>

  <% end %>

  <% if current_user.editor %>
    <%= link_to "Edit Film", edit_film_path(@film) %>
  <% end %>


<% end %>
